{% load static %}

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Food Order</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href= "{% static 'hm/layout/styles/layout.css' %}"  rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url({% static 'hm/images/demo/backgrounds/img.png' %});">
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">

      <div class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="nospace">

          <li id="searchform">
            <div>
              <form action="#" method="post">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter search term&hellip;">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1><a href="/">Food Order</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
<!--          <li><a class="drop" href="#">Filter</a></li>-->
<!--          <ul>-->
<!--            <li><a href="#">Level2</a> </li>-->
<!--            <li><a class="drop" href="#">level 2 + Drop</a>-->
<!--            <ul>-->
<!--              <li> <a href="#">Level3</a></li>-->
<!--              <li> <a href="#">Level3</a></li>-->
<!--            </ul>-->
            </li>

          </ul>
        </ul>

                <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>